<!-- Header section -->
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <strong>Contacts</strong> </a>
  </div>
</nav>

<!-- Contact list -->
<div class="offset-4 col-4 mt-4">
  <ul class="list-group">
    <li
      *ngFor="let item of contacts"
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <span class="badge badge text-bg-info">{{ item.id }} </span>
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ item.firstName }} {{ item.lastName }}</div>
        {{ item.phone }}
      </div>
      <div
        class="align-self-end btn-group btn-group-sm"
        role="group"
        aria-label="Small button group"
      >
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="edit(item)"
          data-bs-toggle="modal"
          data-bs-target="#addEditModal"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="delete(item.id)"
        >
          Delete
        </button>
      </div>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-start"
    >
      <div class="d-grid gap-2 mx-auto">
        <button
          class="btn btn-outline-primary"
          data-bs-toggle="modal"
          data-bs-target="#addEditModal"
          type="button"
          (click)="add()"
        >
          +
        </button>
      </div>
    </li>
  </ul>
</div>

<!-- Modal for Add & Edit functionality -->
<div
  class="modal fade"
  id="addEditModal"
  tabindex="-1"
  aria-labelledby="addEditModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm">
          <div class="mb-3">
            <label for="firstName" class="form-label">First name</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              placeholder="Alok"
              formControlName="firstName"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last name</label>
            <input
              type="text"
              id="lastName"
              class="form-control"
              placeholder="Sharma"
              formControlName="lastName"
            />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input
              type="number"
              id="phone"
              class="form-control"
              placeholder="9876543210"
              formControlName="phone"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="save()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
